[submodule "contrib/zenburn-emacs"]
	path = contrib/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "contrib/ace-jump-mode"]
	path = contrib/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "contrib/js2-mode"]
	path = contrib/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "contrib/rainbow"]
	path = contrib/rainbow
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "contrib/pomodoro"]
	path = contrib/pomodoro
	url = https://github.com/docgnome/pomodoro.el.git
[submodule "contrib/expand-region"]
	path = contrib/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "contrib/buster-mode"]
	path = contrib/buster-mode
	url = git://gitorious.org/buster/buster-mode.git
[submodule "contrib/js3-mode"]
	path = contrib/js3-mode
	url = https://github.com/thomblake/js3-mode.git
[submodule "contrib/mark-multiple"]
	path = contrib/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "contrib/js2-refactor"]
	path = contrib/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "contrib/flymake-node-jshint"]
	path = contrib/flymake-node-jshint
	url = https://github.com/jegbjerg/flymake-node-jshint.git
[submodule "contrib/projectile"]
	path = contrib/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "contrib/asciidoc-mode"]
	path = contrib/asciidoc-mode
	url = https://github.com/emanchado/asciidoc-mode.git
[submodule "contrib/dash.el"]
	path = contrib/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "contrib/clojure-mode"]
	path = contrib/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "contrib/nrepl.el"]
	path = contrib/nrepl.el
	url = https://github.com/kingtim/nrepl.el.git
[submodule "contrib/emacs-epc"]
	path = contrib/emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "contrib/emacs-deferred"]
	path = contrib/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "contrib/emacs-jedi"]
	path = contrib/emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule "contrib/emacs-ctable"]
	path = contrib/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable
[submodule "contrib/s.el"]
	path = contrib/s.el
	url = https://github.com/magnars/s.el.git
